/* BottomButtons.css */
/* .bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
  } */
  
  .bottom-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
  }