/* BottomButtons.css */
  
  .bottom-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #1a1a1a;
  }
  #gear-info {
    background-image: url('gear.png');
  }
  #engine-info {
    background-image: url('engine-status.png');
  }
  #battery-info {
    background-image: url('battery-temp.png');
  }
  .button {
    text-align: center;
    font-family: Arial, sans-serif;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    background-color: 1a1a1a;
  }
  
