/* Footer.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: #1a1a1a;
    margin-top: 0px;
    margin-bottom: 40px;
    
  }
  
  .bottom-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .menu-button {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .charging-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  