/* InfoDisplay.css */
.info-display {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .info-item {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  
  p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
  }
  