/* MenuButton.css */
.menu-button {
  text-align: center;
  font-family: Arial, sans-serif;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('menu.png');
  width: 140px;
  height: 140px;
  margin: 40px;
  border-left: 1px solid #5a5a5a;
  border-right: 1px solid #5a5a5a;
  }
  
