/* MotorRPMGauge.css */
.motor-rpm-gauge {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 20px auto;
  text-align: center;
}

.gauge {
  position: relative;
  width: 100%;
  height: 100%;
}


.gauge-background-rpm {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: bottom;
  position: relative;
  background-image: url('rpm.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gauge-needle {
  position: absolute;
  width: 5px;
  height: 80px;
  
  top: 50%;
  left: 50%;
  transform-origin: top center;
  transform: translate(-50%, -100%);
  background-image: url('needle.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.rpm-value{
  display: flexbox;
  flex-direction: column;
  margin-top: 150px;
  font-size: 16px;
  color: #f3e9dc;
  font-weight: bold;
}
.rpm-unit {
  margin-top: 0px;
  font-size: 16px;
  color: #82796c;
  font-weight: bold;
}